# Node.js Dependencies
node_modules/
**/node_modules/
articles/
mermaid/
.claude

# Python Dependencies & Bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.venv/
env/
venv/

# Next.js Build
.next/
out/
*.log

# Docker
*.pid
*.sock
*.log
docker-compose.override.yml
docker-compose.debug.yml

# dotenv
.env
.env.*

# OS and IDE specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
docs/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pip-log.txt

# Build Artif

# ml-experimentation
ml-lab/*
!ml-lab/README.md
ml-lab/notebooks
*.ipynb
# ml-lab/.venv/
# ml-lab/__pycache__/
# ml-lab/data/
# ml-lab/models/

requirements.txt
services/chatbot-service/data_processing/chunks.json
services/chatbot-service/data_processing/enhanced_records.json
ml-lab/notebooks/search.ipynb
ml-lab/notebooks/datasetreduce.ipynb
